.instrument-container {
    position: relative; /* 子要素の位置の基準にする */
    width: 500px;
}

#power-button {
    position: absolute;
    top: 150px;
    left: 360px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#screen {
    position: absolute;
    top: 80px;
    left: 150px;
    width: 200px;  /* 画面のサイズに合わせる */
    height: 150px; /* 画面のサイズに合わせる */
    background-color: #333; /* 電源OFF時の画面の色 */
}

/* 波形画像のスタイル */
#waveform-image {
    width: 100%;  /* 親要素(screen)の幅に合わせる */
    height: 100%; /* 親要素(screen)の高さに合わせる */
}

